<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>จองบูธงานเกษตรแฟร์</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Mitr:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <nav class="navbar">
    <div class="navbar-brand" (click)="goTomain2()">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXdXoJmx7CgyB8sk6i7pO0QlD3GJBXAiYLBQ&s"
        alt="KU Logo"
        class="logo"
      />
      <span>
        <a>จองบูธงานเกษตรแฟร์</a>
      </span>
    </div>
    <button (click)="addNew()" class="zone-button">เพิ่มข้อมูลการจัดงาน</button>
    <button (click)="edit()" class="zone-button">แก้ไข</button>
    <button (click)="goTomain2()" class="zone-button">ลบ</button>
    <button (click)="goTomain2()" class="main-button">กลับ</button>
  </nav>
  <div>
    <mat-selection-list
      #zone
      [multiple]="false"
      (selectionChange)="show($event.options[0])"
    >
      <mat-list-option
        *ngFor="let event of events"
        [value]="event"
        style="width: auto; height: auto"
      >
        <div class="zone-card">
          <p class="zone_name">ชื่องาน: {{ event.eventName }}</p>
          <p class="zone_name">วันที่เริ่มงาน: {{ event.startDate }}</p>
          <p class="zone_name">วันที่จบงาน: {{ event.endDate }}</p>
          <!-- <button (click)="navi(zone.zoneid)" class="btn">จองโซน {{ zone.zonename }}</button> -->
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</body>
