<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>จองบูธงานเกษตรแฟร์</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Mitr:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-brand">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXdXoJmx7CgyB8sk6i7pO0QlD3GJBXAiYLBQ&s"
          alt="KU Logo"
          class="logo"
        />
        <span>
          <a>จองบูธงานเกษตรแฟร์</a>
        </span>
      </div>
      <div class="navbar-actions">
        <div *ngIf="isLoggedInAdmin">
          <button
            mat-flat-button
            [matMenuTriggerFor]="menuAdmin"
            class="zone-button"
          >
            admin menu
          </button>
          <mat-menu #menuAdmin="matMenu">
            <button mat-menu-item>เพิ่มข้อมูลการจัดงาน</button>
            <button mat-menu-item>แก้ไขข้อมูลการจัดงาน</button>
            <button mat-menu-item>ลบข้อมูลการจัดงาน</button>
            <button mat-menu-item>อนุมัติการจอง</button>
            <button mat-menu-item>ดูรายชื่อสมาชิก</button>
            <button mat-menu-item>ผู้ที่ยังไม่ชำระเงิน</button>
            <button mat-menu-item>ผู้ที่ชำระเงินแล้ว</button>
            <button mat-menu-item>อยู่ระหว่างตรวจสอบ</button>
            <button mat-menu-item>รายละเอียดบูธที่ถูกจอง</button>
          </mat-menu>
        </div>
        <button (click)="goToZone2()" class="zone-button">
          รายละเอียดแต่ละโซน
        </button>
        <div>
          <button
            mat-flat-button
            [matMenuTriggerFor]="menuUser"
            class="zone-button"
          >
            ข้อมูลส่วนตัว
          </button>
          <mat-menu #menuUser="matMenu">
            <button mat-menu-item (click)="goToInfo()">
              แก้ไขข้อมูลส่วนตัว
            </button>
            <button mat-menu-item>รายการที่จอง,ชำระเงิน,ยกเลิกการจอง</button>
          </mat-menu>
        </div>

        <button (click)="logout()" class="main-button">ออกจาระบบ</button>
      </div>
    </nav>

    <!-- Map Section -->
    <div class="map-container">
      <img
        src="assets/img/ZONE2.png"
        usemap="#image-map"
        alt="ZONE A"
        width="1100"
      />
      <map name="image-map">
        <area
          (click)="goToLogin()"
          target=""
          alt="zoneA"
          title=""
          coords="0,0,253,290"
          shape="rect"
        />
        <area
          (click)="goToLogin()"
          target=""
          alt="zoneB"
          title=""
          coords="331,14,1234,301"
          shape="rect"
        />
        <area
          (click)="goToLogin()"
          target=""
          alt="zoneC"
          title=""
          coords="0,360,501,635"
          shape="rect"
        />
        <area
          (click)="goToLogin()"
          target=""
          alt="zoneD"
          title=""
          coords="553,384,1250,680"
          shape="rect"
        />
      </map>
    </div>
  </body>
</html>
