<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>จองบูธงานเกษตรแฟร์</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Mitr:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-brand" (click)="goTomain()">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXdXoJmx7CgyB8sk6i7pO0QlD3GJBXAiYLBQ&s"
          alt="KU Logo"
          class="logo"
        />
        <span>
          <a>จองบูธงานเกษตรแฟร์</a>
        </span>
      </div>
    </nav>
    <div class="login-container">
      <div class="login-box">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXdXoJmx7CgyB8sk6i7pO0QlD3GJBXAiYLBQ&s"
          alt="KU Logo"
          class="logo"
        />
        <h2>เข้าสู่ระบบ</h2>
        <form class="">
            <div >
          <form (ngSubmit)="login(email.value, password.value)">
            <div class="input-group">
              <label for="email">อีเมล:</label>
              <input
                type="email"
                class="input-group"
                id="email"
                name="email"
                #email
                required
              />
            </div>
            <div class="input-group">
              <label for="password">รหัสผ่าน:</label>
              <input
                type="password"
                class="input-group"
                id="password"
                name="password"
                #password
                required
              />
            </div>
            <button
              type="button"
              class="login-button"
              (click)="login(email.value, password.value)"
            >
              เข้าสู่ระบบ
            </button>
            <div class="additional-options">
              <a (click)="goToRegister()">สมัครสมาชิก</a> |
              <a href="#">ลืมรหัสผ่าน?</a>
          </div>
          </form>
        </div>
        </form>
      </div>
    </div>
  </body>
</html>
