<div
  style="
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 500px;
    margin: 20px;
  "
>
  <p>เพิ่มโซนใหม่</p>

  <label>ชื่อโซน</label>
  <input type="text" name="name" id="name" #name/>

  <label>รายละเอียดสถานที่</label>
  <textarea name="detail" cols="30" rows="10" id="detail" #detail></textarea>

  <label>Url รูปภาพสถานที่</label>
  <input type="text" name="url" id="url" #url/>

<button (click)="addNew">Add</button>
  <button (click)="close()">Close</button>
</div>

