<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>จองบูธงานเกษตรแฟร์</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Mitr:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-brand">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXdXoJmx7CgyB8sk6i7pO0QlD3GJBXAiYLBQ&s"
          alt="KU Logo"
          class="logo"
        />
        <span>
          <a>จองบูธงานเกษตรแฟร์</a>
        </span>
      </div>
 
        <button (click)="goTomain2()" class="main-button">กลับ</button>
    </nav>
    <div >
        <div class="zone-card" *ngFor="let user of users">
            <p class="zone_name">ชื่อ:  {{ user.firstName }}</p>
            <p class="zone_name">นามสกุล:  {{ user.lastName }}</p>
            <p class="zone_name">เบอร์โทร:  {{ user.telephone }}</p>
            <p class="zone_name">อีเมล:  {{ user.email }}</p>
            <!-- <button (click)="navi(zone.zoneid)" class="btn">จองโซน {{ zone.zonename }}</button> -->
        </div>
    </div>