<nav class="navbar">
    <div class="navbar-brand" (click)="goTomain()">
      <img src="https://scontent.fbkk12-3.fna.fbcdn.net/v/t39.30808-6/309914793_574900577765443_5992899279459763486_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=o_sfWBwptugQ7kNvgGLZ0ev&_nc_zt=23&_nc_ht=scontent.fbkk12-3.fna&_nc_gid=ARcZLhpulQS0DLitknsDXZC&oh=00_AYCkXOK6n84sxU4OBFSu0zdrSBKafHyTPg-qUtKjqrlt4Q&oe=6717226D" alt="KU Logo" class="logo">
      <span>
        <a >จองบูธงานเกษตรแฟร์</a>
    </span>
    </div>
  </nav>
  <!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สมัครสมาชิก</title>
    <link rel="stylesheet" href="register.component.scss">
</head>
<body>
    <div class="container">
        <h2 class="regis">สมัครสมาชิก</h2>
        <div class="options">
            <span>
              <input type="radio" name="op" value="male"> นาย
            </span>
            <span>
              <input type="radio" name="op" value="female"> นาง
            </span>
            <span>
              <input type="radio" name="op" value="other"> นางสาว
            </span>
          </div>
            <div class="form-group">
                <label for="firstname">ชื่อ</label>
                <input type="text" id="firstname" name="firstname" placeholder="ชื่อ" required>
            </div>
            <div class="form-group">
                <label for="lastname">นามสกุล</label>
                <input type="text" id="lastname" name="lastname" placeholder="นามสกุล" required>
            </div>
            <div class="form-group">
                <label for="email">อีเมล</label>
                <input type="email" id="email" name="email" placeholder="อีเมล" required>
            </div>
            <div class="form-group">
                <label for="phone">เบอร์โทรศัพท์</label>
                <input type="tel" id="phone" name="phone" placeholder="เบอร์โทรศัพท์" required>
            </div>
            <div class="form-group">
                <label for="password">รหัสผ่าน</label>
                <input type="password" id="password" name="password" placeholder="รหัสผ่าน" required>
            </div>
            <button class="regis-button" type="submit">สมัครสมาชิก</button>
    </div>
</body>
</html>